.page-title {
    background-color: brown;
    margin-top: 50px;
    margin-bottom: 15px;
}
.page-title-text {
    font-family: 'Times New Roman';
    font-size: 40px;
    font-style: italic;
    color: white
}
.contents {
    min-height: calc(100vh - 30px);
}
.bs-docs-footer {
    background-color: #000000;
    height: 30px;
}